.AddPersons {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  margin-left: 50px;
  margin-top: 30px;
  font-size: 20px;
}
.AddPersons input[type="text"] {
  width: 20%;
  outline: none;
  border:1px solid black;
  padding: 5px;
  border-radius: 3px;
}

.AddPersons input[type="submit"] {
  width: 10%;
  color: white;
  background-color: orange;
  outline: none;
  border: none;
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.AddPersons label {
  padding-bottom: 5px;
}
